.footer{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    margin-top: auto;
}
.footer:hover{
    cursor: pointer;
}
.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    height: auto;
    margin-left: 85px;
    
    font-size: 14px;
    
   
   
    
}
.container{
    width: 90%;
    height: auto;
}
.countries{
  width: 90%;

  text-align: left;
  margin: auto;
  
}
.countries h4{
    margin-left: 20px;
}
.cname{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-left:20px ;
   
}
.bottom_footer{
    display: flex;
   
    width: 90%;
    height: 90px;
    margin: auto;
    justify-content: space-between;
    
}
.bottom_footer img{
    width: 150px;
}
.bottom_footer>div{
    margin-right: 40px;
   
}
.social img{
   height: 70%;
   width: 200px;
  
}