.nav_container{
    width: 80%;
    height: 80px;
    border: 1 px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color:grey;
    padding: 10px;
    border-radius: 5px;
    color: white;

}
.headings{
    display: flex;
   
    
    font-size: 16px;
    gap: 25px;
    font-weight: bold;
   
}
.headings>p:hover{
  cursor: pointer;
}
.logo:hover{
    cursor: pointer;
    
}