.nav_background{
    background-image: url("https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg");
    height: 600px;
    width: 100%;
    color: white;
    

}

.nav_container{
    width: 80%;
    height: 80px;
    border: 1 px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.headings{
    display: flex;
   
    
    font-size: 16px;
    gap: 25px;
    font-weight: bold;
   
}
.headings>p:hover{
  cursor: pointer;
}
.logo:hover{
    cursor: pointer;
    
}

.head1{
    
    font-size: 14px;
    font-weight: bold;
}
.head1:hover{
    cursor: pointer;
}
.head2{
    font-size: 50px;
    margin-top: -10px;
   
}